<p>default works!</p>

<div class="main-container">

    <div class="flex-container">

        <mat-card class="stats">

            <small> Total Sales</small>
            <h3>22,450</h3>
            <small> Monthly</small>

        </mat-card>
        <mat-card class="stats">

            <small> Total Sales</small>
            <h3>22,450</h3>
            <small> Monthly</small>

        </mat-card>
        <mat-card class="stats">

            <small> Total Sales</small>
            <h3>22,450</h3>
            <small> Monthly</small>

        </mat-card>

        <mat-card class="stats">

            <small> Total Sales</small>
            <h3>22,450</h3>
            <small> Monthly</small>

        </mat-card>

    </div>

    <div class="orders">
        <mat-card class="order-card">

            <h3>Orders</h3>
            <small> Orders vs New user registrations</small>


        </mat-card>
    </div>

</div>
<router-outlet></router-outlet>
