.sidenav {
    color: Black;
    background: #E8EAF6;
    width: 18%; 
    background-color: #E8EAF6;
    list-style: none;
    text-decoration: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(20, 20, 20);

    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    
    color: black;
  }  



h3 {
    text-align: center;
    font-weight: 400;
}