.sidenav {
    color: Black;
    background: #E8EAF6;
    width: 18%; 
    background-color: #E8EAF6;
    list-style: none;
    text-decoration: none;
}

.sidenav a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    
}

* {
    list-style: none;
    text-decoration: none;
}


h3 {
    text-align: center;
    font-weight: 400;
}